.WebExpBody {
  text-align: left;
  margin: 5% 10% 5% 10%;
}
.ExpCard a {
  color: #f08763 !important;
  text-decoration: none;
}
.ExpCard {
  display: flex;
  flex-direction: row;
}
.ExpImage {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  justify-content: center;
}
.ExpImage img {
  max-height: auto;
  max-width: 100%;
  /* width: 60%; */
  /* max-width: 200px; */
}
.ExpContent {
  flex: 10;
  flex-direction: column;
  padding-left: 10px;
}
