.appIcon {
  /* max-width: 100%; */
  height: auto;
  width: 42px;
  /* height: 42px; */
  margin: 3px;
}
.appIconContainer {
  margin: 2px;
  border-radius: 5%;
}
.appIconContainer:hover {
  background-color: gray;
}
.lastAppIcon {
  margin-top: auto;
}
.lastAppIcon img {
  filter: brightness(0) invert(1);
}
