body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: round;
  background-position: center center;
  background-size: 100%;
  background: linear-gradient(
    45deg,
    #dd4814,
    #77216f,
    #5e2750,
    #2c001e,
    #aea79f,
    #333333
  );
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
